$primary-color: #0000ff;
$secondary-color: #09098d;

$white : #FFFFFF;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.button {
    background-color: $primary-color;
    border: none;
    color: $white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background-color: $secondary-color;
}

.product-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}